#  TODO reenable after npm public push
# *.js
# *.d.ts

!jest.config.js

node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.aws

config/*
bin/*
test/efs
test/snyk

dist/


.npmrc
token.txt

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions